@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Random Image Explorer";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">About Random Image Explorer</h1>
        <p class="lead">Discover the story behind my image exploration tool.</p>
        <hr class="my-4">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Created by Evan Wilson</h4>
            <p class="mb-0">For Grand Canyon University, CST-323 Cloud Computing</p>
            <p class="mb-0">August-September 2024</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Project Overview</h3>
            <p>Random Image Explorer is a web application developed as part of the CST-323 Cloud Computing course at Grand Canyon University. This project demonstrates the integration of cloud technologies, API consumption, and web development best practices.</p>
        </div>
        <div class="col-md-6">
            <h3>Technologies Used</h3>
            <ul>
                <li>ASP.NET Core MVC</li>
                <li>C#</li>
                <li>HTML5, CSS3, JavaScript</li>
                <li>Bootstrap for responsive design</li>
                <li>Unsplash API for image retrieval</li>
                <li>Azure Cloud Services for hosting</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Project Goals</h3>
            <p>The primary objectives of this project are to:</p>
            <ul>
                <li>Demonstrate proficiency in cloud computing concepts</li>
                <li>Implement a scalable web application</li>
                <li>Integrate third-party APIs effectively</li>
                <li>Apply best practices in web development and security</li>
                <li>Create an engaging user experience</li>
            </ul>
        </div>
    </div>

</div>
